
@keyframes fadeIn {
  from{
    opacity:0;
  }
  50%{
    opacity: .3;
  }
  70%{
    opacity:.6;
  }
  to{
    opacity:1;
  }
};

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

button{
  border:none;
  cursor: pointer;
}

body {
  background-color: black;
  padding: 10px;
}

._section{
 display:flex;
 flex-direction: column;
 align-items:center;
}

section {
  width: 60%;
  margin: 1em 0 1em 0;
  border: solid 2px white;
  padding: 1em;
}


h1,h2,h3,p{
  margin:1em 0 1em 0;
}
h1 {
  color: #ffffff;
  text-align: center;
}
h2{
  background-color:#eb612b;
  color:#FFFFFF;
  text-align:center;
  width:40%;
  padding:.1em;
}
h3 {
  color: #eb612b !important;
}

._result{
  color:#54b7ec;
}
._text {
  color: #72db83;
  font-size: 1.2em;
}

button {
  background-color: #54b7ec;
  padding: 0.5em;
  font-size: 0.8em;
  color: #ffffff; 
  outline: none;
}

input {
  padding: 0.5em;
  font-size: 0.8em;
}

._choice {
  display: flex;
  justify-content: space-between;
  margin: 1em 0 1em 0;
}


._choice div {
  display:flex;
  align-items:center;
  text-align:center;
  padding: 4px;
  background-color: #54b7ec;
  color:#FFFFFF;
  font-size:18px;
  width:20%;
  cursor: pointer;
}

li {
  list-style-type: none;
  font-size:22px;
}


/*
array.filter 
style tableau
*/
table {
    border-collapse: collapse;
    border: 2px solid #FFFFFF;
    letter-spacing: 1px;
    font-size: 1.5rem;
    width:100%;
    margin: 0 auto;

}

thead{
  background-color: #FFFFFF;
}
thead>tr td{
border: 1px solid #54b7ec;
}
td,
th {
    border: 1px solid #FFFFFF;
    padding: 5px 10px;
}
tbody tr>td{
  width:70%;
}

caption {
  padding: 10px;
  caption-side: bottom;
  font-size:10px;
  color:white;
}

/*
array.filter 
affichage tableau
*/
._arrpop{
  opacity:0;
}

._show_arrpop {
  opacity: 1;
  transition: opacity 500ms ease-in-out; 
}

/* array reduce */
._clothing{
  display:flex;
  justify-content: space-between;
}

._clothing>div {
  width:17%;
  text-align:center;
  padding:5px;
}

._product{
  background-color: #FFFFFF;
  padding:5px;
  border: 2px solid #EFD71B;
  border-bottom: 0px;
  border-radius:13px 13px 0 0;
}

._product div{
  padding:15px;
}

._emoji{
  font-size:40px;
}


/* devise price */
._devise{
  padding:2px;
  color:#000000;
  font-size:10px !important;
}

._product p:first-child{
  background-color: #EFD71B;
  border-radius:13px;
  padding:2px;
}
._product p{
  margin:0;
  font-size:14px;
  color:#000000;
}

._add_cart{
  background-color:#EFD71B;
  margin: 3px 0 2px 0; 
  padding:3px; 
  border-radius:0 0 13px 13px;
  width:100%;
  color:#000000;
  outline:none;
  border:none;
  cursor:pointer;
}
._add_cart:hover{
  border-radius: 13px;
  transition: all 300ms ease-in-out;
  font-weight: bold;
  letter-spacing: 2px;
}


/* panier  */
._cart_container{
  color: #EFD71B;
  display:flex;
  align-items:center;
  border: solid 2px #FFFFFF;
  padding:30px;
  text-align: center;
}

._cart_icon{
  position:relative;
  width:10%;
}
._cart_icon span{
  position:absolute;
  right:20px;
  top:-5px;
  color:#000000;
  height:20px;
  width:20px;
  border-radius:50%;
  border:solid 2px#EFD71B;
  background-color:#FFFFFF;
  text-align: center;
}
/* valider panier achat */
._cart_total{
  margin-top:10px;
}

._cart_total button{
  width:100%;
  text-align:center;
  border-radius:13px 13px 0 0;
  background-color:#EFD71B;
  color:#000000;
  font-weight:bold;
  margin-bottom:2px;
}
._cart_total div{
  border: solid 2px #FFFFFF;
  border-radius: 0 0 13px 13px;
  padding:3px;
  font-size:22px;
  color:#FFFFFF;
}
._cart{
  color:#FFFFFF;
  text-align:center;
  width:80%;
  height: 66px;  
}

._cart span{
  background-color:#FFFFFF;
  padding:10px;
  border-radius:8px;
  margin:0 5px 0 5px;
  border:solid 2px #EFD71B;
}