
@keyframes fadeIn {
  from{
    opacity:0;
  }

  50%{
    opacity: .3;
  }
  70%{
    opacity:.6;
  }
  to{
    opacity:1;
  }
};

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  background-color: black;
  padding: 10px;
}

._section{
 display:flex;
 flex-direction: column;
 align-items:center;
}

section {
  width: 60%;
  margin: 1em 0 1em 0;
  color: #54b7ec;
  border: solid 2px white;
  padding: 1em;
  display:flex;
}
._fn{
  width:70%;
}

._img{
  width:30%;
}

section img{
  width:100%;
  padding:10px;
  height:100%;
}
h1,h2,h3,p{
  margin:1em 0 1em 0;
}
h1 {
  color: #ffffff;
  text-align: center;
}
h2{
  background-color:#eb612b;
  color:#FFFFFF;
  text-align:center;
  width:40%;
  padding:.1em;
}
h3 {
  color: #eb612b !important;
}

p {
  color: #72db83;
  font-size: 1.2em;
}

button {
  background-color: #54b7ec;
  padding: 0.5em;
  font-size: 0.8em;
  color: #ffffff; 
  outline: none;
}

input {
  padding: 0.5em;
  font-size: 0.8em;
}

._choice {
  display: flex;
  justify-content: space-between;
  margin: 1em 0 1em 0;
}
._choice div {
  display:flex;
  align-items:center;
  text-align:center;
  padding: 4px;
  background-color: #54b7ec;
  color:#FFFFFF;
  font-size:18px;
  width:20%;
  cursor: pointer;
}

li {
  list-style-type: none;
  font-size:22px;
}

table {
    border-collapse: collapse;
    border: 2px solid #FFFFFF;
    letter-spacing: 1px;
    font-size: 1.5rem;
    width:100%;
    margin: 0 auto;

}

thead{
  background-color: #FFFFFF;
}
thead>tr td{
border: 1px solid #54b7ec;
}
td,
th {
    border: 1px solid #FFFFFF;
    padding: 5px 10px;
}
tbody tr>td{
  width:70%;
}

caption {
  padding: 10px;
  caption-side: bottom;
  font-size:10px;
  color:white;
}

._arrpop{
  opacity:0;
}

._show_arrpop {
  opacity: 1;
  transition: opacity 500ms ease-in-out; 
};


/* array reduce */
section ._clothing{
  display:flex !important; 
  color:#FFFFFF;
}