body {
      background-color: black;
      color: #72db83;
      padding: 10px;
    }
    section{
        width:40%;
        margin:0 auto;
        color: #54b7ec;
    }
    h1 {
      color: #ffffff;
      text-align: center;
    }
    h2,h3 {
      color: #eb612b !important;
    }


    button {
      background-color: #54b7ec;
      padding: 0.5em;
      font-size: 0.8em;
      color: #ffffff;
      outline: none;
    }
    input {
      padding: 0.5em;
      font-size: 0.8em;
    }

    ._choice{
        display:flex;
    }
    ._choice div{
        padding:8px;
        background-color:#FFFFFF;
        margin:10px;
        text-align:center;
    }

    li{
        list-style-type:none;
    }